<h1>Welcome to {{descriptionData.name}}'s bio page!</h1>
<img src="/images/{{descriptionData.avatar}}" alt="bio image">
<h3>About {{descriptionData.name}}</h3>
<p>{{descriptionData.description}}</p>
<p>{{descriptionData.brand}}</p>
<p>{{descriptionData.price}}</p>