<div id="cameradescription">
<h1>{{descriptionData.name}}</h1>
<p>{{descriptionData.brand}}</p>
<p>Price: ${{descriptionData.price}}</p>
<p>{{descriptionData.description}}</p>
</div>

<div id="cameraavatar">
<img id="product-img" src="/images/{{descriptionData.avatar}}" alt="camera image">
</div>